{% extends 'base.html' %} {% load static %} {% block metadescription %} This is
the CART page.proceed to your review and items {% endblock %} {% block title %}
cart -ABC company Pvt Ltd {% endblock %} {% block content %}
<h1 style="padding-left: 100px">About Us</h1>
<p class="text-justify" style="padding-left: 20px">
  Choose My Fresh is your friendly, easy-to-navigate, online delivery mobile app
  that is quick, safe and 100% secure. We deliver a wide range of everyday
  grocery items such as fresh vegetables, meats, fish, seafood and much more –
  instantly at your doorsteps. We offer you a delightfully refreshing shopping
  experience that is faster and more convenient than a trip to the old-fashioned
  supermarket. Serving rural and urban Kochi, it is the safest and most
  cost-effective alternative to your everyday physical shopping.
  Customer-centric and 100% quality conscious, our commitment is to offer superb
  service on time every time!
</p>

{% endblock %}
