{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

This is the CART page.proceed to your review and items
{% endblock %}

{% block title %}
    cart -ABC company Pvt Ltd
{% endblock %}

{% block content %}
<h1 style="padding-left:100px;">Contact Us</h1>
<br>
<p class="text-justify" style="padding-left:20px;">
      WhatsApp us : 7566-23-0000
</p>
<p class="text-justify" style="padding-left:20px;">

    Should you encounter any bugs, glitches, lack of functionality, delayed deliveries, billing errors or other problems on the beta website,
    please email us on support@freshmarket.com
</p>


<br>
<br>
<br>

{% endblock %}