<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>We Serve</h3>
                        <ul>
                            <li><a href="#">kochi</a></li>
                            <li><a href="#">Thrissue</a></li>
                            <li><a href="#">Kozhicode</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3 class="text-center">FRESH MARKET</h3>
                        <p class="text-justify">Choose My Fresh is your friendly, easy-to-navigate, online delivery mobile app that is quick, safe and 100% secure. We deliver a wide range of everyday grocery items such as fresh vegetables,fruits instantly at your doorsteps. We offer you a delightfully refreshing shopping experience that is faster and more convenient than a trip to the old-fashioned supermarket. Serving rural and urban Kochi, it is the safest and most cost-effective alternative to your everyday physical shopping. Customer-centric and 100% quality conscious, our commitment is to offer superb service on time every time!
                        </p>
                    </div>
                    <div class="col item social"><a href=""><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-whatsapp"></i></a></div>
                </div>
                <p class="copyright">Fresh Market © 2018</p>
            </div>
        </footer>
    </div>